/* Body */

body {
    font-family: 'Raleway', sans-serif; /* You will need to add the link for this font in the head of the html:  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">*/
    background-color: #e7e7e7;
}

/* Nav */

nav {
    width: 100%;
    height: 50px;
    background-color: #e7e7e7;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 0;
}

#nav_link, #nav_link_active { /* Give the nav links the id nav_link. Edit the id nav_link_active in the html depending on which page the user is on*/
    text-decoration: none;
    color: #5e6d74;
    font-size: 14px;
    text-align: center;
    display: block;

    padding-left: 10px;
    padding-right: 10px;
}

#nav_link:hover {
    color: #111a43;
    font-weight: bold;
}

#nav_link_active {
    color: #111a43;
    font-weight: bold;
}

/* Header */

#header { /*Label the header div with the id header*/
    font-family: 'NowRegular'; /* You will need to add the link for this font in the head of the html: <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/now" type="text/css" />*/
    font-style: bold;
    color: #5e6d74;
    font-size: 40px;
    text-transform: uppercase;

    background-image: url("../img/Tutor.jpg"); /* I will send you the pics, pop them into a file*/

    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;

    width: 100%;
}

/*Main */

#maincontent { /*wrap all of the content between the description and footer in a div with the label id main content*/
    line-height: 30px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #5e6d74;
    padding: 25px;
    margin: 10px;
}

a {
    color: #111a43;
}

/* Footer */

footer {
    background-color: #8FAF93;

    text-align: justify;
    margin-top: 50px;
    padding: 10px 50px 10px 50px;
    line-height: 20px;

    color: #e7e7e7;
    font-size: 14px;
}

#patreon_link {
    color: #111a43;
}